.box-img {
    width: 22%;
    float: left; 

img {
    max-width: 100%;
    width: 100%; }
}

.box-img a, .box-img img {
    display: block; }
  
.box-img + .box-img {
    margin-left: 3.5%; }
  
